<html>
<head>
	<% include ../viewAll/head %>
</head>
  <body onload="ShowTime()">

    <header>
      <% include ../viewAll/header %>
    </header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-2"><input type="button" value="2017推薦書本" onclick="location.href='/'"></div>
		<div class="col-sm-2"><input type="button" value="2016推薦書本" onclick="location.href='/about2'"></div>
		<div class="col-sm-2"><input type="button" value="2015推薦書本" onclick="location.href='/about3'"></div>
		<div class="col-sm-3"></div>
	</div>
</div>

		<center><h2>2015推薦書本</h2></center>
	<center>
    <table style="width:80%">
      <tr>
        <th>書名</th>
        <th>作者</th>
				<th>簡介</th>
      </tr>
      <tr>
        <td>心態致勝</td>
        <td>德威克（Carol S. Dweck）</td>
				<td>
					強調心態對於每個人生活方式的影響，包含工作、人際關係，學習狀況以及養兒育女的態度都不例外。心態不但塑造了我們的目標，它甚至預測了我們是否可以成就自己的潛能。
        </td>
      </tr>
      <tr>
        <td>通往名聲之路</td>
        <td>大衛．布魯克斯（David Brooks）</td>
				<td>
					作者將美德區分為一般人在意的財富、事業的「履歷美德」（résumé virtues）與人過世之後，會長存於親友心中的「悼詞美德」（eulogy virtues），並提醒讀者要在兩者間取得平衡。
        </td>
      </tr>
			<tr>
				<td>萬物解說員：用簡單字彙說明複雜事物</td>
				<td>蘭德爾‧門羅（Randall Munroe）</td>
				<td>
					門羅在書裡解釋了 1,000 種英語單詞其複雜演進的過程與概念，從手機運作的原理到美國憲法，可說是無所不包。
        </td>
			</tr>
			<tr>
				<td>身為尼克森：一個分歧的人</td>
				<td>湯馬士（Evan Thomas）</td>
				<td>
					這本書細膩地描寫了美國前總統尼克森從出生到死亡的經歷，而不只是鎖定他擔任美國總統職務的那幾年，在擔任記者的作者湯馬士（Evan Thomas）筆下，尼克森一改一般人印象中扭曲而好戰的負面形象，甚至會讓讀者對尼克森產生某種移情作用。
        </td>
			</tr>
			<tr>
				<td>別人的錢：真正的金融生意</td>
				<td>約翰·凱（John Kay）</td>
				<td>
          金融到底是幹什麼的？此書很好地解釋了這個問題，這本書也入選了英國《金融時報》年度好書。
        </td>
			</tr>
			<tr>
				<td>關於不平等：我們可以做什麼</td>
				<td>安東尼·阿特金森（Anthony Atkinson）</td>
				<td>
          不平等是我們最迫切的社會問題之一，如何解決貧困問題？作者列舉了一些雄心勃勃的新政策，他建議政府在技術、就業、社會保障、資本分享（sharing of capital）和稅收上下文章。《經濟學人》評價道，「這本書立場鮮明地支持政府干預，值得好好咀嚼。」它細緻地分析了有關的政治議題，卻避免了說教。
        </td>
			</tr>
			<tr>
				<td>作弊：行為金融學的誕生</td>
				<td>理察·塞勒（Richard Thaler）</td>
				<td>
          行為金融學曾是一門晦澀難懂的學科，它是心理學和經濟學的交叉領域。作者回顧了行為金融學的歷史，並且告訴人們，「我們時常不按照經濟模型預測的去行動。」 讀了這本書，你可以從另一個維度理解經濟學。
        </td>
			</tr>
			<tr>
				<td>經濟學規律：經濟學的真理和謬論</td>
				<td>丹尼·洛迪克（Dani Rodrik）</td>
				<td>
          經濟學還有許多問題需要解釋。丹尼在自己的能力範疇內，幫我們多解釋了一些問題。
        </td>
			</tr>
			<tr>
				<td>Seven Brief Lessons on Physics</td>
				<td>Carlo Rovelli</td>
				<td>
					本書以精簡的散文風格，饒有趣味地總結了當代重要的物理科學知識，包括愛因斯坦的相對論、量子力學、黑洞、宇宙的複雜結構、基本粒子、重力、思想的本質等等。這些物理知識顛覆了思想，並將進一步顛覆我們的生活。
        </td>
			</tr>
			<tr>
				<td>扭轉貧富不均</td>
				<td>Anthony B. Atkinson</td>
				<td>
					該書詳細討論了各類政策，但整本書風格輕鬆有趣，沒有趨於枯燥的說教，此外，書中極力支持強有力的政府干預
        </td>
			</tr>
    </table>
	</center>
    <footer>
      <% include ../viewAll/footer %>
    </footer>

  </body>
</html>
