<html>
<head>
	<% include ../viewAll/head %>
</head>
  <body>

    <header>
      <% include ../viewAll/header %>
    </header>
<center>
		<h1>閱讀文章</h1>
		<br>
		<h2>溝通</h2>
</center>
		<h3>
			溝通是一種「乘數」的效果，你的學問及本領要發揮到最終的效率，就要靠溝通。我要建議各位，不要因為溝通不良，讓多年學習的專長無法發揮。溝通的基本方式，就是有一個「發訊者」、將訊息傳給「收訊者」，收訊者再反應一些回饋給發訊者。在這個模式中，收訊者的能力與發訊者的能力同樣重要。常常有人問我成功的原因為何，我想我「收訊」的能力培養了很多年。我相信「你聽得越仔細，就會越累」。我聽訊息比我講話累得多，培養你「收訊」的能力，聽完了「累不累」是一個判斷的標準。
有關「收訊」能力的測驗，第一個是「我講話時，他會不會打斷我？」打斷話的人既不禮貌也對自己不利，因為他打斷我，他以為知道我接著要講什麼可是90％他都猜錯，我就提醒他們「那你以為我要講什麼？」還有一點，就是有些人常常在聽到一個訊息時，因為裡面有批評的言辭，所以一聽到批評，就開始想該怎樣去辯護，下面的訊息就聽不進去了。好的收訊者要全神貫注的聆聽，其實閱讀也是一種收訊，須要全神貫注及去除心理包袱的虛心。
</h3>

<br>

<a class="navbar-brand" href="https://sites.google.com/a/krjh.tcc.edu.tw/reading/ren-sheng-zhi-hui/goutong" target="_blank">
	參考文章網址-->按此連結
</a>


  </body>
</html>
