<html>
<head>
	<% include ../viewAll/head %>
</head>
  <body onload="ShowTime()">

    <header>
      <% include ../viewAll/header %>
    </header>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-3"></div>
    		<div class="col-sm-2"><input type="button" value="2017推薦書本" onclick="location.href='/'"></div>
    		<div class="col-sm-2"><input type="button" value="2016推薦書本" onclick="location.href='/about2'"></div>
    		<div class="col-sm-2"><input type="button" value="2015推薦書本" onclick="location.href='/about3'"></div>
    		<div class="col-sm-3"></div>
    	</div>
    </div>

		<center><h2>2016推薦書本</h2></center>
	<center>
    <table style="width:80%">
      <tr>
        <th>書名</th>
        <th>作者</th>
				<th>簡介</th>
      </tr>
      <tr>
        <td>離開後留下的東西</td>
        <td>金璽別（김새별）</td>
				<td>
					人生終其到最後，還是一把黃土掩沒，我不曾想過，那些現在我當為寶的垃圾將來會流落何方，或許也只是煙飛煙滅的宿命。
        </td>
      </tr>
      <tr>
        <td>煙霧瀰漫你的眼</td>
        <td>凱特琳．道堤(Caitlin Doughty)</td>
				<td>
					當人生的盡頭到來時，曾想過海葬，雖然朋友取笑我會被魚吃，但我總認為緬懷不是型態而是心中一輩子的思念，當思念成為固定該做的事情時，彷彿已經失去真正的意義，「死亡」讓人感到心痛，但其實也不過是打回原形罷了。
        </td>
      </tr>
			<tr>
				<td>地下鐵</td>
				<td>Colson Whitehead</td>
				<td>
					探討美國黑奴的議題。時空背景設定在南北戰爭之前，女主角是一名在棉花田工作的黑奴，她非常嚮往北方的自由，當她得知有一個祕密的援助網絡（祕密通道，或隱密的住所）可以幫助她逃脫繁重的體力勞務，並免於被鞭打，到禁止蓄奴的北方重獲新生，女主角義無反顧的踏上這條逃亡之路。這本書也被歐巴馬挑入他今年夏日書單的行列，並成為「歐普拉閱讀俱樂部」（Oprahs Book Club）的推薦書單。
        </td>
			</tr>
			<tr>
				<td>狼路</td>
				<td>Beth Lewis</td>
				<td>
					這是一部末日驚悚小說，女主角是一個十八歲少女，她七歲時被一名自稱為她父親的獵人收養，這名「父親」教會少女射擊、打獵、生火等各項生存技能。就這樣少女跟著父親獵人共同生活了好些日子，直到有一天少女意外的發現，其實獵人是一位手段兇殘的殺手，於是少女開始逃亡，期盼能找到她的親生父母。在逃亡的過程裡，作者透過情節安排，要訴說著生存與面對自我的故事。
        </td>
			</tr>
			<tr>
				<td>鄉下人的輓歌</td>
				<td>J.D.Vance</td>
				<td>
					這是一本報導文學，選在2016美國總統大選這年推出，格外受到矚目。作者是耶魯大學法學院的高材生，但出生在白人藍領階級的家庭，從小生長在俄亥俄州南部的貧窮小鎮。
        </td>
			</tr>
			<tr>
				<td>神秘的母親</td>
				<td>Nathan Hil</td>
				<td>
					這是一個兒子與母親的故事，整部小說談論了有關家庭、政治、革命等議題，目前該部小說已準備拍成電視影集，並傳聞將由奧斯卡影后梅莉史翠普（Meryl Streep）演出這位神秘的媽媽。
        </td>
			</tr>
			<tr>
				<td>雙姝夢魘</td>
				<td>Affinity Konar</td>
				<td>
					這是一本真實故事改編的小說，講述第二次世界大戰奧斯威辛集中營裡的故事。一對雙胞胎姐妹，在集中營裡接受許多殘酷的實驗，以及非人的對待。這部沉重的小說以小女孩的視角展開，講述人類歷史上殘酷、無人道又黑暗的歲月。
        </td>
			</tr>
			<tr>
				<td>實驗室女孩</td>
				<td>Hope Jahren</td>
				<td>
					本書作者原本就是一位非常受歡迎的科學家，本書講述了愛與工作，以及結合兩者就能克服萬難的故事；本書同時也是一本植物研究專書，作者透過自身的專業，讓讀者用另一種方式來看待植物的世界。
        </td>
			</tr>
			<tr>
				<td>另一個布魯克林</td>
				<td>Jacqueline Woodson</td>
				<td>
					故事的年代設定在1970年代，一位原本生長在美國田納西州的女孩與家人搬到布魯克林後，原本他們將布魯克林當成為理想的居住之地，但隱藏在幸福光亮的表象之下，卻是另一個黑暗的布魯克林。
        </td>
			</tr>
			<tr>
				<td>南瓜花</td>
				<td>Matti Friedman</td>
				<td>
					這是一本有關戰爭的回憶錄，也是一本報導文學，記述上個世紀1990年代，黎巴嫩發生的一場戰爭。「南瓜」是黎巴嫩一座山的名字，書名裡的「花」，在軍事用語裡則意指「傷亡者」。作者描述了當年以色列士兵的悲慘經歷，這一場小小的戰爭，卻對日後國際形勢有了很大的影響。
        </td>
			</tr>
    </table>
	</center>
    <footer>
      <% include ../viewAll/footer %>
    </footer>

  </body>
</html>
