<html>
<head>
	<% include ../viewAll/head %>
</head>
  <body onload="ShowTime()">

    <header>
      <% include ../viewAll/header %>
    </header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-2"><input type="button" value="2017推薦書本" onclick="location.href='/'"></div>
				<div class="col-sm-2"><input type="button" value="2016推薦書本" onclick="location.href='/about2'"></div>
				<div class="col-sm-2"><input type="button" value="2015推薦書本" onclick="location.href='/about3'"></div>
				<div class="col-sm-3"></div>
			</div>
		</div>

		<center><h2>2017推薦書本</h2></center>
	<center>
    <table style="width:80%">
      <tr>
        <th>書名</th>
        <th>作者</th>
				<th>簡介</th>
      </tr>
      <tr>
        <td>二手時間</td>
        <td>[白俄] S.A.阿列克謝耶維奇</td>
				<td>
					本書通過口述採訪的形式，展現身處關鍵歷史時刻的普通人的生活。阿列克謝耶維奇引起了一陣「非虛構寫作」的閱讀熱潮。本書講述的是蘇聯解體後的痛苦的社會轉型中，俄羅斯普通人的生活，為夢想破碎付出的代價。
				</td>
      </tr>
      <tr>
        <td>極簡宇宙史</td>
        <td>[法] 克里斯多福·加爾法德</td>
				<td>
					他帶領我們踏上一場關於宇宙的過去、現在和未來的驚奇之旅。不需要圖表和方程式，只需憑著奇詭的想像，我們就可走向衰亡的太陽表面，飛越遙遠的星系，感受來自黑洞的死亡魅力……你可以輕鬆讀懂時至今日的宇宙神奇，繼續探究關於上帝的存在、時間的起源以及人類的未來。
				</td>
      </tr>
			<tr>
				<td>無人生還</td>
				<td>[英] 阿加莎·克里斯蒂</td>
				<td>
					八個素不相識的人受邀來到海島黑人島上。他們抵達後，接待他們的卻只是管家特夫婦倆。用晚餐的時候，餐廳里的留聲機忽然響起，指控他們賓客以及管家夫婦這十人都曾犯有謀殺罪。眾人正在惶恐之際，來賓之一忽然死亡，噩夢由此開始了。
				</td>
			</tr>
			<tr>
				<td>燈塔</td>
				<td>[法] 克里斯多夫·夏布特</td>
				<td>
					這是一部探索現代人內在情感的圖像小說，引導讀者直面人生中的種種精神困境。故事講述了一個被父母之愛所「禁閉」、只能靠想像力生活的畸形怪人，漸漸在詞典的語言碎片和無名水手的幫助下，找到了真正屬於他自己的人生。
				</td>
			</tr>
			<tr>
				<td>活著為了講述</td>
				<td>[哥倫比亞] 加西亞·馬爾克斯</td>
				<td>
					是諾貝爾文學獎獲得者，《百年孤獨》作者加西亞·馬爾克斯唯一傳記，他說「生活不是我們活過的日子，而是我們記住的日子，我們為了講述而在記憶中重現的日子。」這一次，在虛實之間，他將親自講述自己的故事。
				</td>
			</tr>
			<tr>
				<td>造房子</td>
				<td>王澍</td>
				<td>
					本書從建築出發，卻不止於建築，更是一本探討中國傳統文化當代性的著作。傳統文化的當代性一直是這些年學界反覆思索和討論的重要課題，王澍以自己的學術素養，以及營造經驗，構建出獨特的關於東方美學的審美體系，也給出傳統文化進入當代的路徑，這對於當下有非常重要的學術參考價值。
				</td>
			</tr>
			<tr>
				<td>北鳶</td>
				<td>葛亮</td>
				<td>
					《北鳶》起筆於民國商賈世家子弟盧文笙的成長，收束於上世紀中葉。將波詭雲譎的民國動盪史寄予兩個家族的命運沉浮，書寫中國最為豐盛起伏的斷代。
				</td>
			</tr>
			<tr>
				<td>斯通納</td>
				<td>[美] 約翰·威廉斯</td>
				<td>
					講述了生命中最重要的部分：愛，認同，憐憫，志業，傲骨，信任與死亡。一個勇者有過的失敗不失意的人生：即使不能擁有完美的生活，所幸追求過完整的自我。
				</td>
			</tr>
			<tr>
				<td>我可以咬一口嗎</td>
				<td>[美] 莉茲·克里莫</td>
				<td>
					《我可以咬一口嗎》是美國漫畫家莉茲•克里莫繼《你今天真好看》之後的又一本清新暖萌的漫畫集，收錄了莉茲•克里莫一百多張逗趣漫畫。書中集結了所有你能想到的各種萌物，獅子、斑馬、兔子、烏龜，甚至還有傘蜥、獾、土撥鼠、狐獴……在詼諧的對話中，它們展現出一種與生俱來的幽默感和令人艷羨的生活情趣。
				</td>
			</tr>
			<tr>
				<td>我腦袋裡的怪東西</td>
				<td>[土耳其] 奧爾罕·帕慕克</td>
				<td>
					本書是一個講述缽扎小販麥夫魯特的人生、 冒險、幻想和他的朋友們的故事,同時也是一幅通過眾人視角描繪的 1969—2012年間伊斯坦堡生活的畫卷。
				</td>
			</tr>
    </table>
	</center>
    <footer>
      <% include ../viewAll/footer %>
    </footer>

  </body>
</html>
